	/* General styles */
.CuCa_mUnlock[disabled], .CuCa_wUnlock[disabled]{
	background: #F7F7F7 !important;
	cursor: text !important;
}
.CuCa_Math input, .CuCa_Word input{
	box-sizing: content-box !important;
	box-shadow: none;
	background: transparent !important;
}
.CuCa_verified{ -webkit-box-shadow: 0 0 6px #008000; -moz-box-shadow: 0 0 6px #008000; box-shadow: 0 0 6px #008000; outline: none; }
.CuCa_denied{ -webkit-box-shadow: 0 0 6px #FF0000; -moz-box-shadow: 0 0 6px #FF0000; box-shadow: 0 0 6px #FF0000; outline: none; }


	/* CuCa math styles */
.CuCa_Math{
    position: relative;
    width: 300px;
    height: 120px;
	line-height: 18px !important;
}
.CuCa_Math div:first-child{ display: inline-block; }
.CuCa_Math * {
	margin: 0 8px;
    font-style: italic;
	vertical-align: middle;
}
.CuCa-math-quest > input{
    width: 40px;
    height: 18px;
    border: 1px solid;
    padding-left: 10px;
}
.CuCa-math-quest label{ cursor: default; }
.CuCa-math-quest label#CuCa-math-question{ width: auto; display: inline-block; }
.CuCa-math-quest #CuCa-math-answer{ width: 50px; }
	/* Classes for CuCa math skins */
.CuCa_math_custom{ text-align: left; width: 210px; height: 90px; }
.CuCa_math_custom *{ font-style: normal; margin: 0; }
.CuCa_math_custom div:first-child  { margin: 0 0 2px 0; }
.CuCa_math_custom img{ display: none; }
.CuCa_math_custom label{ margin: 0 4px; }
.CuCa_math_custom input{ width: 30px !important; border: 1px solid #e1e1e1; color: #222222; }
	
.CuCa_math_classic{ width: 200px; height: 100px; color: #222222 !important; font-size: 12px !important; border: 3px double #e1e1e1; }
.CuCa_math_classic *{ margin: 0 6px; }
.CuCa_math_classic div:first-child  { margin: 10px 0; }
.CuCa_math_classic input{ width: 30px !important; border: 1px solid #e1e1e1 !important; color: #222222 !important; }
	
.CuCa_math_modern{ background: url(../skins/CuCa_math_modern_bb.png) no-repeat; color: #222222 !important; font-family: Arial !important; font-size: 15px !important; }
.CuCa_math_modern div:first-child  { margin: 22px 0 6px 0; }
.CuCa_math_modern input{ border-color: #222222 !important; color: #222222 !important; }
	
.CuCa_math_modern{ background: url(../skins/CuCa_math_modern_bb.png) no-repeat; color: #222222 !important; font-family: Arial !important; font-size: 15px !important; }
.CuCa_math_modern div:first-child  { margin: 22px 0 6px 0; }
.CuCa_math_modern input{ border-color: #222222 !important; color: #222222 !important; }

.CuCa_math_vintage{ background: url(../skins/CuCa_math_vintage_bb.png) no-repeat; color: #f6f39e !important; font-family: Lucida Sans Unicode !important; font-size: 14px !important; }
.CuCa_math_vintage div:first-child  { margin: 18px 0 10px -10px; }
.CuCa_math_vintage div:nth-child(2){ margin-left: -10px; }
.CuCa_math_vintage input{ border-color: #f6f39e !important; color: #f6f39e !important; }

.CuCa_math_minimal{ height: auto; width: 210px; margin: 0; left: 0; top: 0; border: 1px solid #e1e1e1; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
.CuCa_math_minimal *{ margin: 2px 4px; }
.CuCa_math_minimal br, .CuCa_math_minimal div:first-child { display: none; }
.CuCa_math_minimal #CuCa-math-question{ padding: 2px 6px; background: #dbdbdb; margin-left: 0; }
.CuCa_math_minimal img{ left: 30px; }
.CuCa_math_minimal input{ border: 1px solid #e1e1e1 !important; }

.CuCa_math_lightwood{ background: url(../skins/CuCa_math_lightwood_bb.png) no-repeat; color: #ffffff !important; color: #31270B !important; font-weight: bold !important; font-family: Courier New !important; font-size: 12px !important;}
.CuCa_math_lightwood div:first-child  { margin: 20px 0 6px 6px; }
.CuCa_math_lightwood input{ border-color: #31270B !important; color: #31270B !important; }

.CuCa_math_darkwood{ background: url(../skins/CuCa_math_darkwood_bb.png) no-repeat; color: #ffffff !important; font-family: Georgia, 'Times New Roman', Times, serif !important; }
.CuCa_math_darkwood div:first-child  { margin: 20px 0 4px 0; }
.CuCa_math_darkwood input{ border-color: #ffffff !important; color: #ffffff !important; }