@charset "utf-8";

	/* Foglio di stile per il pannello di amministrazione */

	/* Welcome */
#CuCa_admWelcomeAd{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right:0;
	background-color: #000;
	z-index: 999999999;
	opacity: .7;
	filter: alpha(opacity=70);
	display: none;
}
.CuCa_admWelcome{
	position: fixed;
	z-index: 9999999999;
	width: 900px;
	height: 640px;
	top: 50%;
	left: 250%;
	margin-left: -450px;	
	margin-top: -320px;
	background: url(../imgs/CuCa_welcome_m.png) no-repeat;
}
.CuCa_admWelcome > div{
	position: absolute;
	background: #000;
	color: #fff;
	cursor: pointer;
	right: -15px;
	top: -15px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	z-index: 102;
}


	
	/* Titolo */
#CuCa_admin_title{
	font-size: 50px;
}
#CuCa_admin_subTitle{	
	font-size: 16px;
	font-weight: 600;
	color: #000;
}
#CuCa_admin_innerTitle{
	display: inline-block;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	color: #44832B;
	text-transform: uppercase;
	text-decoration: underline;
}



	/* Div layout styles */
.CuCa_admContainer{
	width: 90%;
	margin: 30px auto;
	padding: 15px 5px;
	overflow: hidden;
	position: relative;
	z-index: 10;
	font-size: 14px;
	font-family: 'Open Sans',sans-serif;
}
.CuCa_admContainer > * {
	position: relative;
	z-index: 10;
	display: table-cell;
	vertical-align: top;
	-webkit-box-shadow: 0px 1px 2px 0px #969696;
	-moz-box-shadow:    0px 1px 2px 0px #969696;
	box-shadow:         0px 1px 2px 0px #969696;
}
.CuCa_admContainer i{ font-size: 12px; }
.CuCa_admContainer ol li{ font-size: 12px; margin: 0 0 0 2em; }
.CuCa_admContainer form input, .CuCa_admContainer form select{ border: 1px solid #e1e1e1; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; width: 100px; height: 30px; margin: 2px; box-shadow: none; }
.CuCa_admContainer form input[type=checkbox]{ width: 14px; height: 14px; }
.CuCa_admContainer form input[type=checkbox]:checked:before{ color: #E77166 !important; }
.CuCa_admContainer form *:disabled{ box-shadow: inset 0 1px 2px rgba(0,0,0,.04); background: rgba(255, 202, 202, 0.5); color: rgba(255, 84, 84, 0.5); border-color: #FFCECA; }
.CuCa_admContainer form input[type=submit]{ background: #E77166; color: white; border-radius: 0; width: 115px; height: 35px; margin-top: 10px; border-right: 1px ridge #9B1104 !important; outline: none !important; box-shadow: none !important; cursor: pointer; }
.CuCa_admContainer form input[type=submit]:active{ background: #AC3737; outline: none; border: none; }
	.CuCa_admSx{
		width: 800px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background: #CEDFEE;
	}
	.CuCa_admDx{
		width: 62px;
		border-top-right-radius: 	4px;
		border-bottom-right-radius: 4px;
		border-left: 1px ridge #00C2FF;
		background: #52accc;
	}
	.CuCa_admDx > *{ width: 30px; height: 50px; cursor: pointer; }
		.CuCa_adm1lvl{
			width: 90%;
			margin: 20px auto;
		}
		.CuCa_adm1lvl > * {
			display: table-cell;
			vertical-align: top;
			-webkit-box-shadow: 0px 1px 2px 0px #969696;
			-moz-box-shadow:    0px 1px 2px 0px #969696;
			box-shadow:         0px 1px 2px 0px #969696;
		}
		.CuCa_adm1lvl_sx{
			width: 93%;
			padding: 20px 30px;
			border-top-left-radius: 	4px;
			border-bottom-left-radius:	4px;
			background: #FFF9F9;
		}
		.CuCa_adm1lvl_sx input:focus{
			border-color: #E77166;
			-webkit-box-shadow: 0 0 2px #E77166;
			-moz-box-shadow:    0 0 2px #E77166;	
			box-shadow:			0 0 2px #E77166;
		}
		.CuCa_adm1lvl_sx table tr:first-child td{
			font-size: 16px;
			font-weight: bold;
		}
		.CuCa_adm1lvl_dx{
			margin-left: -4px;
			width: 60px;
			border-top-right-radius: 	4px;
			border-bottom-right-radius: 4px;	
			border-left: 1px ridge #F00;
			background: #E77166;
		}
	.CuCa_admPrevTrigger{ background: url(../imgs/CuCa_ptD.png) no-repeat; position: absolute; bottom: 0; right: 16px; }
	.CuCa_admPrev{
		display: block;
		-webkit-border-radius: 	4px;
		-moz-border-radius: 	4px;
		border-radius: 			4px;
		position: relative;
		z-index: 9;
		width: 94%;
		height: 330px !important;
		margin-top: -374px;
		background: #FFF9F9;
		padding: 20px 0;
		position: relative;
		z-index: 9;		
	}
	.CuCa_admPrev > div{
		display: table-cell;
		vertical-align: middle;
		height: 200px;
		padding: 30px;
		width: 50%;
	}
	.CuCa_admPrev > div:last-child{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 30px;
		padding: 0;
		background: #E77166;
		border-top: 1px ridge #F00;
		border-bottom-left-radius: 	4px;
		border-bottom-right-radius:	4px;
	}



	/* Donations */
.CuCa_admContainer#CuCa_don{
	display: block;
	background: #52B66A;
	-webkit-border-radius:	3px;
	-moz-border-radius:		3px;
	border-radius:			3px;
	-webkit-box-shadow: 0px 1px 2px 0px #969696;
	-moz-box-shadow:    0px 1px 2px 0px #969696;
	box-shadow:         0px 1px 2px 0px #969696;
	padding: 8px 0;
	margin-top: 100px;
}
	.CuCa_don1lvl{
		display: block;
		margin: 0 auto;
		width: 93%;
		height: 26px;
		-webkit-border-radius:	4px;
		-moz-border-radius:		4px;
		border-radius:			4px;
		background: #FFF9F9;
	}
	.CuCa_don1lvl table{ width: 96% }
	.CuCa_don1lvl table td{ padding: 3px 5px }
		.CuCa_don2lvl{
			background: #52B66A;
			width: 90%;
			height: auto;
			padding: 0 15px;
			-webkit-box-shadow: 	1px 1px 1px 0px #007E26 inset;
			-moz-box-shadow: 		1px 1px 1px 0px #007E26 inset;
			box-shadow: 			1px 1px 1px 0px #007E26 inset;
			-webkit-border-radius:	4px;
			-moz-border-radius:		4px;
			border-radius:			4px;
			color: #fff;
			font-size: 12px;
		}
	.CuCa_admContainer#CuCa_donation .CuCa_admSx{  width: 100%; border-radius: 10px; margin: 10px auto; padding: 4px 6px; }
.CuCa_donTrigger{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: -2px 0 0 6px;
	width: 18px;
	height: 18px;
	background: url(../imgs/CuCa_don.png) no-repeat;
	cursor: pointer;
}


